{% load static %}
<!doctype html>

<html>

    <head>

        <!-- Meta start -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, maximum-scale=1">

        <!-- Title -->
        <title>Afrodisia</title>
    

        <!-- Import Css file -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

        <!-- Import Js file -->


        <!-- Import Icon -->
        <link rel="icon" href="{% static 'img/Afro.PNG' %}" type="image/PNG">

    </head>

    <body>
        
        {% block content %} {% endblock %}


    </body>

</html>
